<div class="edit__container-title orange">
    <h2>Liste du matériel assigné </h2>
</div>

<div class="container__list-material">

    {% if internal_location.computer != null %}

        <div class = "materialCard">

            <h3 class="category__tag">Ordinateur</h3>

            <h4>{{ internal_location.computer.model }}</h4>

        </div>

    {% endif %}

    {% if internal_location.laptop != null %}

        <div class = "materialCard">

            <h3 class="category__tag" >Ordinateur portable </h3>

            <h4>{{ internal_location.laptop.model }}</h4>

        </div>

    {% endif %}

    {% if internal_location.monitor != null %}

        <div class = "materialCard">

            <h3 class="category__tag" >Monitor</h3>

            <h4>{{ internal_location.monitor.model }}</h4>

        </div>

    {% endif %}

    {% if internal_location.videoprojector != null %}

        <div class = "materialCard">

            <h3 class="category__tag" >Videoprojector</h3>

            <h4>{{ internal_location.videoprojector.model }}</h4>

        </div>

    {% endif %}

    {% if internal_location.keyboard != null %}

        <div class = "materialCard">

            <h3 class="category__tag" >keyboard</h3>

            <h4>{{ internal_location.keyboard.model }}</h4>

        </div>

    {% endif %}


    {% if internal_location.mouse != null %}

        <div class = "materialCard">

            <h3 class="category__tag" >Souris </h3>

            <h4>{{ internal_location.mouse.model }}</h4>

        </div>

    {% endif %}
        
</div>        