{% extends 'base.html.twig' %}

{% block title %}Keyboard index{% endblock %}

{% block body %}
    <h1>Keyboard index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Model</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for keyboard in keyboards %}
            <tr>
                <td>{{ keyboard.id }}</td>
                <td>{{ keyboard.model }}</td>
                <td>{{ keyboard.status }}</td>
                <td>
                    <a href="{{ path('app_back_material_keyboard_show', {'id': keyboard.id}) }}">show</a>
                    <a href="{{ path('app_back_material_keyboard_edit', {'id': keyboard.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_back_material_keyboard_new') }}">Create new</a>
{% endblock %}
