{% extends 'base.html.twig' %}

{% block title %}Keyboard{% endblock %}

{% block body %}
    <h1>Keyboard</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ keyboard.id }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ keyboard.model }}</td>
            </tr>
            <tr>
                <th>Affectation</th>
                <td>{{ keyboard.affectation }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ keyboard.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_back_material_keyboard_index') }}">back to list</a>

    <a href="{{ path('app_back_material_keyboard_edit', {'id': keyboard.id}) }}">edit</a>

    {{ include('back/material/keyboard/_delete_form.html.twig') }}
{% endblock %}
