{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<div class="index__container"> 

    <div class="index__container-title">
        <h1>Liste des utilisateurs</h1>
    </div>

    <div class="add__btn-container">

        <a class="index__btn-add" href="{{ path('app_back_user_new') }}">Ajouter un utilisateur</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th class="mobile__display-none">Id</th>
                <th>Nom et prénom</th>
                <th class="mobile__display-none">Email</th>
                <th class="mobile__display-none">Roles</th>
                <th class="mobile__display-none">Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td class="mobile__display-none">{{ user.id }}</td>
                <td>{{ user.internalUser }}</td>
                <td class="mobile__display-none">{{ user.email }}</td>
                <td class="mobile__display-none">{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td class="mobile__display-none">{{ user.password }}</td>
                <td>
                    <a class="index__btn-show" href="{{ path('app_back_user_show', {'id': user.id}) }}">Voir</a>
                    <a class="index__btn-edit" href="{{ path('app_back_user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}
