{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

<div class="index__container"> 

    <div class="index__container-title">
        <h1>Utilisateur interne</h1>
    </div>

    <div class="show__container-table">

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>InternalUser</th>
                <td>{{ user.internalUser }}</td>
            </tr>
        </tbody>
    </table>

    <div class="show__container-btn">

        <a class="btn-list" href="{{ path('app_back_user_index') }}">back to list</a>

        <a class="btn-update" href="{{ path('app_back_user_edit', {'id': user.id}) }}">edit</a>

        {{ include('back/user/_delete_form.html.twig') }}

    </div>

    </div>

</div> 

{% endblock %}
