{% extends 'base.html.twig' %}

{% block title %}Mouse index{% endblock %}

{% block body %}

<div class="index__container"> 

    <div class="index__container-title orange">
        <h1>Liste des souris</h1>
    </div>

    <div class="add__btn-container">

        <a class="index__btn-add" href="{{ path('app_back_material_mouse_new') }}">Ajouter une souris</a>

    </div>

    <div class="index__container-table">

    <div class="spaceFilter__onlyInternalMaterial row d-flex justify-content-center flex-sm-wrap">

        <!--Zone nav filter JS-->
    
    </div>

    <table class="table">
        <thead>
            <tr>
                <th class="mobile__display-none">Id</th>
                <th>Modèle</th>
                <th class="mobile__display-none">Affectation</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mouse in mouses %}
            {% if mouse.status == "Not Available" %}
                {% if mouse.affectation == "Interne" %}
                    <tr data-status="notAvailable" data-affection="interne">
                        <td class="mobile__display-none">{{ mouse.id }}</td>
                        <td>{{ mouse.model }}</td>
                        <td class="mobile__display-none">{{ mouse.affectation }}</td>
                        <td>{{ mouse.status }}</td>
                        <td>
                            <a class="index__btn-show" href="{{ path('app_back_material_mouse_show', {'id': mouse.id}) }}">Voir</a>
                            <a class="index__btn-edit" href="{{ path('app_back_material_mouse_edit', {'id': mouse.id}) }}">Modifier</a>
                        </td>
                    </tr>
                {% endif %}
                {% if mouse.affectation == "Externe" %}
                    <tr data-status="notAvailable" data-affection="externe">
                        <td class="mobile__display-none">{{ mouse.id }}</td>
                        <td>{{ mouse.model }}</td>
                        <td class="mobile__display-none">{{ mouse.affectation }}</td>
                        <td>{{ mouse.status }}</td>
                        <td>
                            <a class="index__btn-show" href="{{ path('app_back_material_mouse_show', {'id': mouse.id}) }}">Voir</a>
                            <a class="index__btn-edit" href="{{ path('app_back_material_mouse_edit', {'id': mouse.id}) }}">Modifier</a>
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
            {% if mouse.status == "Available" %}
                {% if mouse.affectation == "Interne" %}
                    <tr data-status="available" data-affectation="interne">
                        <td class="mobile__display-none">{{ mouse.id }}</td>
                        <td>{{ mouse.model }}</td>
                        <td class="mobile__display-none">{{ mouse.affectation }}</td>
                        <td>{{ mouse.status }}</td>
                        <td>
                            <a class="index__btn-show" href="{{ path('app_back_material_mouse_show', {'id': mouse.id}) }}">Voir</a>
                            <a class="index__btn-edit" href="{{ path('app_back_material_mouse_edit', {'id': mouse.id}) }}">Modifier</a>
                        </td>
                    </tr>
                {% endif %}
                {% if mouse.affectation == "Externe" %}
                    <tr data-status="available" data-affectation="externe">
                        <td class="mobile__display-none">{{ mouse.id }}</td>
                        <td>{{ mouse.model }}</td>
                        <td class="mobile__display-none">{{ mouse.affectation }}</td>
                        <td>{{ mouse.status }}</td>
                        <td>
                            <a class="index__btn-show" href="{{ path('app_back_material_mouse_show', {'id': mouse.id}) }}">Voir</a>
                            <a class="index__btn-edit" href="{{ path('app_back_material_mouse_edit', {'id': mouse.id}) }}">Modifier</a>
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
        {% else %}
            <tr>
                <td colspan="5">Aucunes souris trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>


</div>

<script src="{{asset('js/navFilterFullMaterial.js')}}"></script>

{% endblock %}
