{% extends 'base.html.twig' %}

{% block title %}Mouse index{% endblock %}

{% block body %}

<div class="index__container"> 

    <div class="index__container-title orange">
        <h1>Liste des souris</h1>
    </div>

    <div class="add__btn-container">

        <a class="index__btn-add" href="{{ path('app_back_material_mouse_new') }}">Ajouter une souris</a>

    </div>

    <div class="index__container-table">

    <table class="table">
        <thead>
            <tr>
                <th class="mobile__display-none">Id</th>
                <th>Modèle</th>
                <th class="mobile__display-none">Affectation</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mouse in mice %}
            <tr>
                <td class="mobile__display-none">{{ mouse.id }}</td>
                <td>{{ mouse.model }}</td>
                <td class="mobile__display-none">{{ mouse.affectation }}</td>
                <td>{{ mouse.status }}</td>
                <td>
                    <a class="index__btn-show" href="{{ path('app_back_material_mouse_show', {'id': mouse.id}) }}">Voir</a>
                    <a class="index__btn-edit" href="{{ path('app_back_material_mouse_edit', {'id': mouse.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucunes souris trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>


</div>
{% endblock %}
