{% extends 'base.html.twig' %}

{% block title %}Mouse{% endblock %}

{% block body %}
    <h1>Mouse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mouse.id }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ mouse.model }}</td>
            </tr>
            <tr>
                <th>Affectation</th>
                <td>{{ mouse.affectation }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ mouse.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_back_material_mouse_index') }}">back to list</a>

    <a href="{{ path('app_back_material_mouse_edit', {'id': mouse.id}) }}">edit</a>

    {{ include('back/material/mouse/_delete_form.html.twig') }}
{% endblock %}
