{% extends 'base.html.twig' %}

{% block title %}Monitor index{% endblock %}

{% block body %}

<div class="index__container"> 

    <div class="index__container-title">
        <h1>Liste des écrans</h1>
    </div>

    <div class="add__btn-container">

        <a class="index__btn-add" href="{{ path('app_back_material_monitor_new') }}">Ajouter un écran</a>

    </div>

    <div class="index__container-table">

    <table class="table">
        <thead>
            <tr>
                <th class="mobile__display-none">Id</th>
                <th>Modèle</th>
                <th class="mobile__display-none">Date d'achat</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for monitor in monitors %}
            <tr>
                <td class="mobile__display-none">{{ monitor.id }}</td>
                <td>{{ monitor.model }}</td>
                <td class="mobile__display-none">{{ monitor.purchaseDate ? monitor.purchaseDate|date('Y-m-d') : '' }}</td>
                <td>{{ monitor.status }}</td>
                <td>
                    <a class="index__btn-show" href="{{ path('app_back_material_monitor_show', {'id': monitor.id}) }}">Voir</a>
                    <a class="index__btn-edit" href="{{ path('app_back_material_monitor_edit', {'id': monitor.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucuns écrans trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>

</div>
{% endblock %}
