{% extends 'base.html.twig' %}

{% block title %}Computer index{% endblock %}

{% block body %}

<div class="index__container"> 

    <div class="index__container-title orange">
        <h1>Liste des ordinateurs fixes</h1>
    </div>

    <div class="add__btn-container">

        <a class="index__btn-add" href="{{ path('app_back_material_computer_new') }}">Ajouter un ordinateur</a>

    </div>

    <div class="index__container-table">

    <table class="table">
        <thead>
            <tr>
                <th class="mobile__display-none">Id</th>
                <th>Modèle</th>
                <th class="mobile__display-none">Numéro de Série</th>
                <th class="mobile__display-none">Mot de Passe</th>
                <th class="mobile__display-none">Date d'achat</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for computer in computers %}
            <tr>
                <td class="mobile__display-none">{{ computer.id }}</td>
                <td>{{ computer.model }}</td>
                <td class="mobile__display-none">{{ computer.serialNumber }}</td>
                <td class="mobile__display-none">{{ computer.password }}</td>
                <td class="mobile__display-none">{{ computer.purchaseDate ? computer.purchaseDate|date('Y-m-d') : '' }}</td>
                <td>{{ computer.status }}</td>
                <td>
                    <a class="index__btn-show" href="{{ path('app_back_material_computer_show', {'id': computer.id}) }}">Voir</a>
                    <a class="index__btn-edit" href="{{ path('app_back_material_computer_edit', {'id': computer.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucuns ordinateurs trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>


</div>
{% endblock %}
