{% extends 'base.html.twig' %}

{% block title %}Matériel{% endblock %}

{% block body %}
<div class="index__container"> 

    <div class="index__container-title orange">
        <h1>Mes demandes de locations pour utilisateurs externes</h1>
    </div>

    <div class="index__container-table">

    <div class="edit__container-title blue">
        <h2>Les locations en cours</h2>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th class="mobile__display-none" >Id</th>
                <th>Nom et prénom</th>
                <th class="mobile__display-none" >Email</th>
                <th class="mobile__display-none">Tel</th>
                <th class="mobile__display-none">Message</th>
                <th>Début</th>
                <th class="mobile__display-none">Fin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for external_location in external_locations %}
            {% if external_location.accepted == "Oui" %}
            <tr>
                <td class="mobile__display-none" >{{ external_location.id }}</td>
                <td>{{ external_location.user }}</td>
                <td class="mobile__display-none"><a href="mailto:{{ external_location.email }}">{{ external_location.email }}</a></td>
                <td class="mobile__display-none">{{ external_location.phone }}</td>
                <td class="mobile__display-none">{{ external_location.message }}</td>
                <td>{{ external_location.date_start ? external_location.date_start|date('Y-m-d') : '' }}</td>
                <td class="mobile__display-none">{{ external_location.date_end ? external_location.date_end|date('Y-m-d') : '' }}</td>
                <td>
                    <a class="index__btn-show" href="{{ path('app_front_external_location_show', {'id': external_location.id}) }}">Voir</a>
                    <a class="index__btn-edit" href="{{ path('app_front_external_location_edit', {'id': external_location.id}) }}">Modifier</a>
                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="8">Aucuns tickets trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>

    <div class="index__container-table">

    <div class="edit__container-title blue">
        <h2>Mes demandes en cours de traitements</h2>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th class="mobile__display-none" >Id</th>
                <th>Nom et prénom</th>
                <th class="mobile__display-none" >Email</th>
                <th class="mobile__display-none">Tel</th>
                <th class="mobile__display-none">Message</th>
                <th>Début</th>
                <th class="mobile__display-none">Fin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for external_location in external_locations %}
            {% if external_location.accepted == "Non" %}
            <tr>
                <td class="mobile__display-none" >{{ external_location.id }}</td>
                <td>{{ external_location.user }}</td>
                <td class="mobile__display-none"><a href="mailto:{{ external_location.email }}">{{ external_location.email }}</a></td>
                <td class="mobile__display-none">{{ external_location.phone }}</td>
                <td class="mobile__display-none">{{ external_location.message }}</td>
                <td>{{ external_location.date_start ? external_location.date_start|date('Y-m-d') : '' }}</td>
                <td class="mobile__display-none">{{ external_location.date_end ? external_location.date_end|date('Y-m-d') : '' }}</td>
                <td>
                    <a class="index__btn-show" href="{{ path('app_front_external_location_show', {'id': external_location.id}) }}">Voir</a>
                    <a class="index__btn-edit" href="{{ path('app_front_external_location_edit', {'id': external_location.id}) }}">Modifier</a>
                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="8">Aucuns tickets trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>

</div>
{% endblock %}