{% extends 'base.html.twig' %}

{% block title %}Editer un prêt{% endblock %}

{% block body %}

    <h1>Editer un prêt à un utilisateur externe</h1>

    {{ include('back/external_location/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_back_external_location_index') }}">back to list</a>


    {{ include('back/external_location/_delete_form.html.twig') }}


    <div>
    
        <h2>Liste du matériel assigné </h2>

        {% if laptop != null %}

        <div class = "materialCard">

            <h3 class="category__tag" >Ordinateur portable </h3>

            <h4>{{ laptop.model }}</h4>

            <a href="{{ path('app_back_material_laptop_edit', {'id': laptop.id}) }}">edit</a>

        </div>

        {% endif %}


        {% if mouse != null %}

        <div class = "materialCard">

            <h3 class="category__tag" >Souris </h3>

            <h4>{{ mouse.model }}</h4>

            <a href="{{ path('app_back_material_mouse_edit', {'id': mouse.id}) }}">edit</a>

        </div>

        {% endif %}

 
    </div>



{% endblock %}
