{% extends 'base.html.twig' %}

{% block title %}InternalLocation index{% endblock %}

{% block body %}
    <h1>InternalLocation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateStart</th>
                <th>DateEnd</th>
                <th>Information</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for internal_location in internal_locations %}
            <tr>
                <td>{{ internal_location.id }}</td>
                <td>{{ internal_location.dateStart ? internal_location.dateStart|date('Y-m-d') : '' }}</td>
                <td>{{ internal_location.dateEnd ? internal_location.dateEnd|date('Y-m-d') : '' }}</td>
                <td>{{ internal_location.information }}</td>
                <td>
                    <a href="{{ path('app_back_internal_location_show', {'id': internal_location.id}) }}">show</a>
                    <a href="{{ path('app_back_internal_location_edit', {'id': internal_location.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_back_internal_location_new') }}">Create new</a>
{% endblock %}
