{% extends 'base.html.twig' %}

{% block title %}Laptop{% endblock %}

{% block body %}

<div class="index__container"> 

    <div class="index__container-title">
        <h1>Ordinateur portable</h1>
    </div>

    <div class="show__container-table">

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ laptop.id }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ laptop.model }}</td>
            </tr>
            <tr>
                <th>SerialNumber</th>
                <td>{{ laptop.serialNumber }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ laptop.password }}</td>
            </tr>
            <tr>
                <th>PurchaseDate</th>
                <td>{{ laptop.purchaseDate ? laptop.purchaseDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Affectation</th>
                <td>{{ laptop.affectation }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ laptop.status }}</td>
            </tr>
        </tbody>
    </table>

    <div class="show__container-btn">

        <a class="btn-list"  href="{{ path('app_back_material_laptop_index') }}">back to list</a>

        <a class="btn-update" href="{{ path('app_back_material_laptop_edit', {'id': laptop.id}) }}">edit</a>

        {{ include('back/material/laptop/_delete_form.html.twig') }}

    </div>

    </div>

</div>
{% endblock %}
