<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <!-- Bootstrap icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <!-- CSS StyleSheet-->
        <link rel="stylesheet" href="{{asset('css/template.css')}}">
        <link rel="stylesheet" href="{{asset('css/style.css')}}">

        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    
    <body>

    <div class="main-container">

        <header>
            
            <div class="header__box">
                <div class="logo-box">
                    <a href="{{ path('home')}}" class="logo"><img class="header__logo" src="{{asset('images/Logo.png')}}" alt="parkio"></a>
                </div>
                <div class="siteName siteName--display-true">
                    <p>Parkio</p>
                </div>
                <div class="button__box">
                    <div class="header__button nav-close">
                        <span class="button__line"></span>
                        <span class="button__line"></span>
                        <span class="button__line"></span>
                    </div>
                </div>
            </div>
        
        </header>

        <div class="nav__side nav__side-close">
        
        
            <nav class="nav__bloc">

                <ul>
                    <li> <a href="{{ path('home')}}">Parkio</a> </li>
                    <li> <a href="{{ path('functionnalities')}}">Les fonctionnalités </a> </li>
                    {% if app.user != null %}
                    <li> <span class="nav__subnav">Documentation</span> 
                        <ul>
                            <li> <a href="{{ path('user_doc')}}">Utilisateur</a> </li>
                            {% if 'ROLE_ADMIN' in app.user.roles %}
                            <li> <a href="{{ path('admin_doc')}}">Administrateur</a> </li>
                            {% endif %}
                        </ul>
                    </li>
                    <li> <span class="nav__subnav">Espace Utilisateur</span>
                        <ul>
                            <li> <a href="{{ path('user_information')}}">Mon profil</a> </li>
                            <li> <a href="{{ path('user_external_location')}}">Mes demandes de prêts</a> </li>
                            <li> <a href="{{ path('app_front_external_location_new')}}">Faire une demande</a> </li>
                        </ul>
                    </li>
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                    <li><span class="nav__subnav">Espace Administrateur</span>
                        <ul>
                            <li> <a href="{{ path('app_back_user_index')}}">Gestion des utilisteurs</a> </li>
                            <li><span class="nav__subnav__subnav">Gestion des prêts</span>
                                <ul>
                                    <li> <a href="{{ path('app_back_internal_location_index')}}">Prêt interne</a> </li>
                                    <li> <a href="{{ path('app_back_external_location_index')}}">Prêt externe</a> </li>
                                </ul>
                            </li>
                            <li><span class="nav__subnav__subnav">Gestion du matériel</span>
                                <ul>
                                    <li> <a href="{{ path('app_back_material_computer_index')}}">Ordinateurs</a> </li>
                                    <li> <a href="{{ path('app_back_material_laptop_index')}}">Portables</a> </li>
                                    <li> <a href="{{ path('app_back_material_monitor_index')}}">Ecrans</a> </li>
                                    <li> <a href="{{ path('app_back_material_videoprojector_index')}}">Videoprojecteurs</a> </li>
                                    <li> <a href="{{ path('app_back_material_keyboard_index')}}">Claviers</a> </li>
                                    <li> <a href="{{ path('app_back_material_mouse_index')}}">Souris</a> </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                    {% endif %}
                    
                    {% if app.user == null %}
                        <li><a href="{{ path('app_login')}}">Connexion</a></li>
                    {% else %}
                        <li><a href="{{ path('app_logout')}}">Déconnexion</a></li>
                    {% endif %}
                </ul>

            </nav>

        </div>

        <div class="content-container content__mobile-open">
        
            {% block body %}{% endblock %}
        
        </div>
    </div>
    <footer>

        <ul>
    
            <li><a href="{{ path('credits')}}">Crédits</a></li>
           
        </ul>


    </footer>

    <script src="{{asset('js/nav.js')}}"></script>

    </body>
    </div>
    
</html>
